@mixin font-face($font-name, $file-name, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: quote($font-name);
    font-weight: $weight;
    font-style: $style;
    @if ($asset-pipeline == true) {
         src: font-url($file-name + '.eot');
         src: font-url($file-name + '.eot?#iefix') format('embedded-opentype'), font-url($file-name + '.woff') format('woff'), font-url($file-name + '.woff2') format('woff2'), font-url($file-name + '.ttf') format('truetype');
     }
     @else {
         src: url($file-name + '.eot');
         src: url($file-name + '.eot?#iefix') format('embedded-opentype'), url($file-name + '.woff') format('woff'), url($file-name + '.woff2') format('woff2'), url($file-name + '.ttf') format('truetype');     }
  }
}